{{ form_start(form) }}
        {{ form_row(form.name) }}

        <div class="form-group">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-9">
                        <p>Markata ondokoa sinadura prozesua beharrezkoa bada</p>
                </div>
        </div>

        {{ form_row(form.sinatubehar) }}
{{ form_end(form) }}

