{% extends 'base.html.twig' %}

{% block content_div_start %}{% endblock %}
{% block content_div_end %}{% endblock %}
{% block headline %}{{ 'Jakinazpenak transferitu' | trans }} {% endblock %}

{% block content_row %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>Prozesua ongi amaitu da.</p>
    </div>
    <div class="col-md-2"></div>

    {% endblock %}

